body {
    text-align: center;
    background: rgb(239, 238, 238);
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.container {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
}

.cabecera {
    padding: 20px;
    width: 40%;
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px #7f7c7c;
    background: cornflowerblue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    margin: 0px;
}

.cabecera h1 span {
    font-size: 20px;
    font-weight: normal;
    margin: 0px;
}

.cabecera .logo {
    width: 60px;
    vertical-align: middle;
}

.post {
    padding: 20px;
    width: 40%;
    text-align: center;
    border: 1px solid #3a3939;
    background: #fff;
    margin: 0px;
}

.post h1 {
    color: cornflowerblue;
    text-shadow: 2px 2px #000000;
    margin: 0px;
}